* {
    background-color: #323232;
    color: #ababab;
}

/* There is a drop shadow on disabled widgets' text in the dark color scheme
 * and I can't figure out what's causing it or how to turn it off!...  Found a
 * few similar questions online, but they were unanswered.  (elenad, 2/15/11)
 */
:disabled {
    color: #303030;
}

QPushButton {
    padding: 1px 4px 1px 4px;
    background-color: #4d4d4d;
    border-width: 1px;
    border-style: solid;
    border-color: #525252;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

QPushButton:hover {
    background-color: #525252;
    border-color: #656565;
}

QPushButton:pressed {
    border-color: #555555;
    color: #8a8a8a;
    background-color: #656565;
}

QPushButton:checked {
    border-color: #454545;
    color: #8a8a8a;
    background-color: #555555;
}

QPushButton#back {
    border-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
}

QPushButton#forward {
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 4px;
}

QPushButton#bookmark {
    background-color: #4d4d4d;
    border-right-style: none;
    border-color: #525252;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

QPushButton#bookmark:pressed {
    border-right-style: none;
    border-color: #454545;
    background-color: #353535;
}

QPushButton#bookmark_menu {
    background-color: #4d4d4d;
    border-color: #525252;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0px;
}

QPushButton#bookmark:pressed {
    border-right-style: none;
    border-color: #454545;
    background-color: #353535;
}

QPushButton#bookmark_menu:pressed {
    background-color: #353535;
}

QPushButton#bookmark_menu::menu-indicator {
    /*image: url(:/ui/down-arrow-small.png);*/
    image: url(:/ui/bullet_arrow_down.png);
    subcontrol-origin: padding;
    subcontrol-position: right;
    padding-right: 1px;
}

QPushButton#edit {
    background-color: #4d4d4d;
    border-color: #525252;
    /*border-left-style: none;*/
    border-right-style: none;
    /*border-radius: 0px;*/
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 2px;
}

QPushButton#edit:pressed {
    border-right-style: none;
    border-color: #454545;
    background-color: #353535;
}

QPushButton#edit:pressed {
    background-color: #353535;
}



QPushButton#do_grouping {
    background-color: #4d4d4d;
    border-color: #525252;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

QPushButton#do_grouping:hover {
    background-color: #525252;
    border-color: #656565;
}

QPushButton#do_grouping:on {
    background-color: #558855;
}

QPushButton#group_options {
    background-color: #4d4d4d;
    border-color: #525252;
    border-left-style: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

QPushButton#group_options:hover {
    background-color: #525252;
    border-color: #656565;
}

QPushButton#group_options::menu-indicator {
    image: url(:/ui/bullet_arrow_down.png);
    subcontrol-origin: padding;
    subcontrol-position: right;
    padding: 0px;
}

QPushButton#search {
    background-color: #4d4d4d;
    border-left-style: none;
    border-color: #525252;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

QPushButton#search:pressed {
    background-color: #353535;
}

QLineEdit#level {
    padding: 0px;
    border-width: 1px;
    border-color: #454545;
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-style: solid;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
}

QPushButton#level_menu {
    background: #323232;
    border-color: #525252;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: none;
    border-bottom-style: solid;
}

QPushButton#level_menu::menu-indicator {
    image: none;
}

QPushButton#level_menu:hover {
    background-color: #525252;
    border-color: #656565;
}

QPushButton#level_menu:pressed {
    background-color: #353535;
}

QLineEdit#roleEdit {
    padding: 0px;
    border-width: 1px;
    border-color: #454545;
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-style: solid;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
}

QPushButton#roleMenu {
    background: #323232;
    border-color: #525252;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: none;
    border-bottom-style: solid;
}

QPushButton#roleMenu:pressed {
    background-color: #353535;
}

QPushButton#roleMenu:hover {
    background-color: #525252;
    border-color: #656565;
}

QPushButton#roleMenu::menu-indicator {
    image: none;
}

QLineEdit {
    border-width: 1px;
    border-style: solid;
    border-color: #454545;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

QLineEdit#criteria {
    border-width: 1px;
    border-color: #454545;
    border-radius: 0px;
    padding: 0px;
    border-top-style: solid;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
}

QLabel#bookmark_name {
    border-width: 1px;
    border-color: #454545;
    /*border-radius: 0px;*/
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: none;
    border-bottom-style: solid;
}
/*
QComboBox {
    border-width: 1px;
    border-style: solid;
    border-color: #454545;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 1px 4px 1px 4px;
}

QComboBox::drop-down {
    border-width: 0px;
    border-style: none;
    border-color: #454545;
    subcontrol-origin: padding;
    subcontrol-position: center right;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
}

QComboBox::drop-down:hover {
    background-color: #525252;
    border-color: #656565;
}

QComboBox::down-arrow {
    image: url(bullet_arrow_down.png);
}

QComboBox QAbstractItemView {
    background-color: #353535;
}
*/
QCheckBox[levelButton="true"]::unchecked {
    border-radius: 4px;
    border-style: none;
    border-width: 1px;
    border-color: #454545;
    padding-right: 6px;
}

QCheckBox[levelButton="true"]::indicator::unchecked {
    image: url(:/ui/bullet_black.png);
}

QCheckBox[levelButton="true"]::checked {
    border-radius: 4px;
    border-style: none;
    border-width: 1px;
    border-color: #454545;
    padding-right: 6px;
}

QCheckBox[levelButton="true"]::indicator::checked {
    image: url(:/ui/bullet_green.png);
}

QSplitter::handle {
}

QSplitter::handle:horizontal {
    image: url(:/ui/bullet_black.png);
    width: 10px;
}

QSplitter::handle:vertical {
    image: url(:/ui/bullet_black.png);
    height: 10px;
}

QCheckBox[expandToggle="true"] {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #353535;
}

QCheckBox[expandToggle="true"]::indicator:off {
    image: url(:/ui/application_side_contract.png);
}

QCheckBox[expandToggle="true"]::indicator:on {
    image: url(:/ui/application_side_expand.png);
}

QCheckBox[expandVerticalToggle="true"] {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #353535;
}

QCheckBox[expandVerticalToggle="true"]::indicator:off {
    image: url(:/ui/application_put.png);
}

QCheckBox[expandVerticalToggle="true"]::indicator:on {
    image: url(:/ui/application_get.png);
}

QTextEdit {
    padding: 1px;
    background-color: #202020;
    border-width: 1px;
    border-style: solid;
    border-color: #454545;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

QPlainTextEdit {
    padding: 1px;
    background-color: #202020;
    border-width: 1px;
    border-style: solid;
    border-color: #454545;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

QTreeView {
    alternate-background-color: #282828;
    background-color: #202020;
    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #454545;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

QWidget#parameter_frame{
    background-color: #323232;
}

QTreeView QComboBox:closed {
    background-color: #353535;
}

/***
QTreeView QComboBox:closed {
    background-color: #5598d7;
    color: #000000;
}

QTreeView QComboBox:open {
    background-color: #5598d7;
    color: #ffffff;
    selection-color : #ffffff;
    selection-background-color: #5598d7;
}
***/

QTreeView QSpinBox:closed {
    background-color: #5598d7;
    color: #000000;
}

QTreeView QSpinBox:open {
    background-color: #5598d7;
    color: #ffffff;
    selection-color : #ffffff;
    selection-background-color: #5598d7;
}

QHeaderView::section {
    padding: 2px;
    background-color: #323232;
    color: #ababab;
    border-color: #454545;
    border-left-style: none;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
}

QMenuBar {
    color: #ababab;
    background-color: #323232;
    padding: 4px;
}

QMenuBar::item {
    color: #ababab;
    spacing: 4px;
    padding: 1px 4px 1px 4px;
    background: transparent;
    border-radius: 2px;
}

QMenuBar::item:selected {
    color: #efefef;
    background: #757575;
    border-radius: 2px;
}

QMenuBar::item:pressed {
    background: #656565;
}

QMenu {
    color: #ababab;
    background-color: #353535;
    padding: 0px;
    border: 1px solid #555555;
    border-radius: 0px;
}

QMenu::item {
    background-color: #353535;
    padding: 1px 20px 1px 20px;
    border: 1px solid transparent;
}

QMenu::item:selected {
    color: #efefef;
    background-color: #5598d7;
    border-color: #555555;
}

QMenu::icon:checked {
    background: gray;
    border: 1px inset gray;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}

QMenu::separator {
    height: 1px;
    background: #757575;
    margin-left: 0px;
    margin-right: 0px;
}

QMenu::indicator {
    width: 13px;
    height: 13px;
}
i/*
QMenu::indicator:non-exclusive:unchecked {
    image: url(:/ui/bullet_black.png);
}

QMenu::indicator:non-exclusive:unchecked:selected {
    image: url(:/ui/bullet_black.png);
}

QMenu::indicator:non-exclusive:checked {
    image: url(:/ui/bullet_green.png);
}

QMenu::indicator:non-exclusive:checked:selected {
    image: url(:/ui/bullet_green.png);
}

QMenu::indicator:exclusive:unchecked {
    image: url(:/ui/bullet_black.png);
}

QMenu::indicator:exclusive:unchecked:selected {
    image: url(:/ui/bullet_black.png);
}

QMenu::indicator:exclusive:checked {
    image: url(:/ui/bullet_green.png);
}

QMenu::indicator:exclusive:checked:selected {
    image: url(:/ui/bullet_green.png);
}
*/
QScrollBar:horizontal {
    border: 1px solid #525252;
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
    background: #353535;
    height: 16px;
    margin: 0px 40px 0 0px;
}

QScrollBar::handle:horizontal {
    background: #4d4d4d;
    min-width: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
}

QScrollBar::handle:horizontal:pressed {
    background: #656565;
}

QScrollBar::add-line:horizontal {
    background: #353535;
    width: 16px;
    subcontrol-position: right;
    subcontrol-origin: margin;
    border: 1px solid #454545;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
}

QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
    background: #656565;
}

QScrollBar::sub-line:horizontal {
    background: #353535;
    width: 16px;
    subcontrol-position: top right;
    subcontrol-origin: margin;
    border: 1px solid #454545;
    border-radius: 0px;
    position: absolute;
    right: 20px;
}

QScrollBar:left-arrow:horizontal {
    width: 10px;
    height: 10px;
    image: url(:/ui/blue_arrow_left.png);
}

QScrollBar:right-arrow:horizontal {
    width: 10px;
    height: 10px;
    image: url(:/ui/blue_arrow_right.png);
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    border: 1px solid #525252;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #353535;
    width: 16px;
    margin: 0px 0px 40px 0px;
}

QScrollBar::handle:vertical {
    background: #4d4d4d;
    min-height: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

QScrollBar::handle:vertical:pressed {
    background: #656565;
}

QScrollBar::add-line:vertical {
    background: #353535;
    height: 16px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    border: 1px solid #454545;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed {
    background: #656565;
}

QScrollBar::sub-line:vertical {
    background: #353535;
    height: 16px;
    subcontrol-position: bottom left;
    subcontrol-origin: margin;
    border: 1px solid #454545;
    border-radius: 0px;
    position: absolute;
    bottom: 20px;
}

QScrollBar:up-arrow:vertical {
    width: 10px;
    height: 10px;
    image: url(:/ui/blue_arrow_left.png);
}

QScrollBar:down-arrow:vertical {
    width: 10px;
    height: 10px;
    image: url(:/ui/blue_arrow_right.png);
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QLabel#workflow_label {
    background: transparent;
    border-width: 1px;
    border-color: #454545;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: dotted;
}

QLabel#flag {
    padding: 1px 4px 1px 4px;
    background-color: #323232;
    border-width: 1px;
    border-color: #454545;
    border-left-style: solid;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
}

QLabel#location {
    padding: 1px 4px 1px 4px;
    background-color: #323232;
    border-width: 1px;
    border-color: #454545;
    border-left-style: none;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 4px;
}

QPushButton#source_config {
    background-color: #323232;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

QPushButton#source_config:hover {
    background-color: #525252;
    border-color: #656565;
}

QComboBox#source {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-style: none;
}

QTabWidget::pane {
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

QTabWidget::tab-bar {
    border-left-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
}

/* Style the tab using the tab sub-control. Note that
 it reads QTabBar _not_ QTabWidget */
QTabBar::tab {

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #454545;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #454545;

    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #454545;

    border-top-style: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    min-width: 8ex;
    padding: 0px 4px 0px 4px;

}

QTabBar::tab:selected, QTabBar::tab:hover {
    background-color: #525252;
    border-color: #656565;
}

QTabBar::tab:selected {
    border-bottom-color: #656565;
}

QTabBar::tab:!selected {
    background-color: #323232;
}

QTabBar::tab:close-button {
}

SearchBar QPushButton#history::menu-indicator {
    image: none;
}

AssetsView QPushButton#visibility::menu-indicator {
    image: none;
}

/* Configuration for the buttons of the Element panel (no border) */
ElementPanel QPushButton#btn_menu {border:0;}
ElementPanel QPushButton#btn_menu::menu-indicator {image: none;}
ElementPanel QPushButton#btn_splitH {border:0;}
ElementPanel QPushButton#btn_splitV {border:0;}
ElementPanel QPushButton#btn_detach {border:0;}
ElementPanel QPushButton#btn_close {border:0;}

/* Configuration for the tabs bar in the Element Panel */
ElementPanel QTabBar#tabs_title::tab {

    border: 1px solid #454545;

    border-bottom-style: none;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    min-width: 8ex;
    padding: 0px 4px 0px 4px;
}

 ElementPanel QTabBar#tabs_title::tab:!selected {
     margin-top: 2px;
 }

ElementPanel QTabBar#tabs_title::tab:selected, QTabBar::tab:hover {
    background-color: #525252;
    border-color: #656565;
}


SearchBar QPushButton#view_details {
    border-color: #525252;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

SearchBar QPushButton#view_details:hover {
    background-color: #cdebcd;
    border-color: #656565;
}

SearchBar QPushButton#view_details:on {
    background-color: #558855;
}

SearchBar QPushButton#view_icons {
    border-color: #525252;
    border-left-style: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

SearchBar QPushButton#view_icons:hover {
    background-color: #dcdcdc;
    border-color: #656565;
}

SearchBar QPushButton#view_icons:on {
    background-color: #558855;
}

